// btn
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  column-gap: 10px;
  height: 55px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 18px;
  @media(max-width: 1400px){
    font-size: 16px;
  }
  @media(max-width: 575px){
    height: 50px;
  }

  &--lg {
    height: 65px;

    @media(max-width: 991px) {
      height: 50px;
    }
  }

  &--white {
    background-color: #fff;
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: #000;
  }

  &--green {
    background-color: #018D48;
    color: #fff;

    &:hover {
      background-color: #000;
    }
  }

  &--green-transparent {
    border: 2px solid #018D48;

    &:hover {
      background-color: #018D48;
      color: #fff;
    }
  }

  &--black {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #C9E0D4;
      color: #000;
    }
  }

  &.w-100 {
    width: 100%;
  }
}

.introSlideBtn {
  padding-left: 34px;
  padding-right: 34px;
}

.introSlidePlay {
  background-color: #fff;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesSlideArrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #018D48;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  @media(max-width: 575px){
    width: 40px;
    height: 40px;
  }
}

.calcFormBtn {
  height: 65px;
  font-weight: 500;
  @media(max-width: 991px){
    height: 50px;
  }
}

.aboutVideoBtn {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .2s linear;
  @media(max-width: 1500px){
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.50);
  }
}

.aboutBtn {
  height: 65px;
  padding-left: 35px;
  padding-right: 35px;
  @media(max-width: 991px){
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.presentFile {
  color: #000;
  background-color: #fff;
}

.catHeadBtn {
  color: #018D48;
  font-size: 18px;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  white-space: nowrap;
  transition: color .2s linear;
  @media(max-width: 991px){
    font-size: 16px;
  }
  &:hover {
    color: #000;
  }
}
.vacItemBtn {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #018D48;
  display: flex;
  align-items: center;
  justify-content: center;
 
  img {
    transition: transform .2s linear;
  }
}