.containerPrice {
  .sectHead {
    margin-bottom: 50px;
    @media(max-width: 991px){
      margin-bottom: 30px;
    }
    @media(max-width: 575px){
      margin-bottom: 20px;
    }
  }
  .navArrow {
    background-color: #F5F5F5;

    &:hover {
      background-color: #E2F1EA;
    }
  }

  .navArrowW {
    justify-content: center;
    margin-top: 30px;
    column-gap: 20px;
    display: none;
    @media(max-width: 1400px){
      display: flex;
    }
    @media(max-width: 575px){
      margin-top: 15px;
    }
  }
}
.containerSlide {
  border-radius: 16px;
  background: #F9F9F9;
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  &Content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &Img {
    border-radius: 16px;
    margin-bottom: 20px;
  }
  &Title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    @media(max-width: 575px){
      font-size: 20px;
    }
  }
  &Descr {
    color: #909090;
    margin-bottom: 15px;
  }
  &Price {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .button {
    margin-top: auto;
  }
}