// modal
.modal {
  display: none;

  &-body {
    padding: 45px;
    padding-top: 0;
  }

  &-title {
    font-size: 23px;
  }
  .btn-close {
    background: none;
    opacity: 1;
  }
  .h2 {
    font-size: 35px;
    @media(max-width: 991px){
      font-size: 27px;
    }
  }
}

