.partners {
  background: url('@img/why/why-bg.jpg') no-repeat center center / cover;
  .tag {
    white-space: nowrap;
  }
  .sectHead {
    display: flex;
    column-gap: 160px;
    @media(max-width: 991px){
      column-gap: 50px;
    }
    @media(max-width: 575px){
      flex-direction: column;
      row-gap: 20px;
    }
  }
  &Slider {
    overflow: visible;
  }
  &Slide {
    width: fit-content;
    background-color: #fff;
    border-radius: 16px;
    img {
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;
    }
  }
}