.reviews {
  .sectHead {
    display: flex;
    column-gap: 235px;
    @media(max-width: 991px){
      column-gap: 50px;
    }
    @media(max-width: 575px){
      row-gap: 20px;
      column-gap: 0;
      flex-direction: column;
    }
  }
}