.team {
  background: url('@img/why/why-bg.jpg') no-repeat center center / cover;
  .sectHead {
    display: flex;
    column-gap: 165px;
    margin-bottom: 50px;
    @media(max-width: 991px){
      column-gap: 50px;
      margin-bottom: 30px;
    }
    @media(max-width: 575px){
      margin-bottom: 20px;
      column-gap: 0;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  &Slider {
    overflow: visible;
    .navArrow {
      background-color: #F5F5F5;
  
      &:hover {
        background-color: #E2F1EA;
      }
    }
  
    .navArrowW {
      justify-content: center;
      margin-top: 30px;
      column-gap: 20px;
      display: none;
      @media(max-width: 1400px){
        display: flex;
      }
      @media(max-width: 575px){
        margin-top: 15px;
      }
    }
  }
  &Slide {
    &Img {
      width: 100%;
      height: 445px;
      object-fit: cover;
      margin-bottom: 20px;
      @media(max-width: 575px){
        height: 100vw;
      }
    }
    &Title {
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 10px;
      @media(max-width: 991px){
        font-size: 20px;
      }
      @media(max-width: 575px){
        font-size: 18px;
      }
    }
    &Work {
      color: #909090;
      font-size: 18px;
      line-height: 140%;
      @media(max-width: 991px){
        font-size: 16px;
      }
    }
  }
}